# Second assignment
The assignment provides problems regarding basic applications of linear algebra and machine learning. Use this Notebook to perform the computations and insert your comments into it. All the coding must be done in Python 3. 

The assignment has to be submitted individually!

All your plots have to be labelled properly!  (Non-labeled plots will result in point deductions!)

**Non running cells/tasks will not be considered!**

The tasks/questions are 1.1), 1.2), 1.3), 1.4), 2.1), 2.2), 2.3), 2.4), 2.5), 3.1), 3.2), 3.3), 3.4), 3.5), 4.1), 4.2) and 4.3). After each task description there is an answer cell for your code or text. For coding tasks they look like this:

```
# YOUR CODE HERE
```
(You can delete the "YOUR CODE HERE" comment, if you like.)

For markdown (text) cells the response cell will include this:

**WRITE YOUR ANSWER HERE**

Sometimes they are followed by test cells. You can run the test cells after you finished the task. If these cells don't show any errors, your answer is right. You can't/shouldn't edit test cells!

After you finished the notebook you can hit the "Validate" button on the top of the notebook to see if all test are good. You can also use the "Validate" button on the "Assignment" tap on the main page of python.ldv.ei.tum.de. Some tasks will be graded manually (e.g. plots, text answers). They don't have a following test cell. 

Please make sure to hit the "Submit" button on the "Assignment" tab on the main page of python.ldv.ei.tum.de before the deadline passes. You will get your final score after the deadline.

**Some tips:**
- Only change cells with `# YOUR CODE HERE` or **WRITE YOUR ANSWER HERE**
- Do not change cell types or the notebook name.
- Do not add other .ipynb files into the homework folder.
- For every plot makes sure that axes are correctly labeled with original labels and not encoded ones. 
- If you are asked to provide multiple plots, make sure that the titles are clear. A plot should be self explanatory, we should not have to look at your code to know what is plotted. 

#### Date of submission: May 17, 2022, 23:55 hrs

**INFO**

Please be aware that we are currently using **scikit-learn version 0.24**.

For the correct documentation please use this link: https://scikit-learn.org/0.24/

In [47]:
import pandas as pd
import numpy as np

#### Tent Dataset
In this assignment you will deal with the preprocessing step of converting categorical data into numerical data to build a linear regression model. 
> _"Categorical data, otherwise known as nominal, attribute, or discrete data, take on specific values that have no scale. Credit status (“good” or “bad”) or color (“red,”“blue,” etc.) are examples of these data."_ 

M.Kuhn and K. Johnson. Applied Predictive Modeling, Chapter 1, p.6.

The task will be to predict the price of a tent, given some numerical and categorical descriptors.

In [48]:
url = 'https://raw.githubusercontent.com/ucb-stat133/stat133-fall-2017/master/data/camping-tents.csv'
data = pd.read_csv(url)
data.drop(columns=['name'], inplace=True)
data.info()
cat_features = data.dtypes[data.dtypes=='object'].index.values
print('\nThe dataset contains the following categotical features: {}.'.format(cat_features))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   brand     90 non-null     object
 1   price     90 non-null     float64
 2   weight    90 non-null     float64
 3   height    90 non-null     int64
 4   bestuse   90 non-null     object
 5   seasons   90 non-null     object
 6   capacity  90 non-null     object
dtypes: float64(2), int64(1), object(4)
memory usage: 5.0+ KB

The dataset contains the following categotical features: ['brand' 'bestuse' 'seasons' 'capacity'].

**Task 1.1**

Set up a `ColumnTransformer()` object and store it to the variable `oe`. It should hold an `OrdinalEncoder()` as transformer, which should be named `'ordinal'` and should work on the columns in `cat_features`!

In [49]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder
# YOUR CODE HERE


ordinal = OrdinalEncoder()
t =  [('ordinal',ordinal,cat_features)]
oe = ColumnTransformer(transformers =t ,remainder = 'passthrough')

**Task 1.2**

Apply your transformer to the data. Overwrite the original values of the columns containing the categorical features with the encoded values. The new pandas DataFrame `data_oe` should have the same columns and contain also the numerical variables like the initial one. You do not have to maintain the original order of the columns.

In [50]:
# YOUR CODE HERE
data1= data
data1[cat_features] = oe.fit_transform(data[cat_features ])
data_oe = data1
data_oe.head()

   brand   price  weight  height  bestuse  seasons  capacity
0    0.0  349.95   960.0      96      0.0      1.0       1.0
1    0.0  449.95  1450.0     107      0.0      1.0       2.0
2    1.0  159.95  1700.0     102      0.0      1.0       1.0
3    0.0  359.95  2160.0     107      0.0      1.0       2.0
4    6.0  149.00  2210.0     107      0.0      1.0       1.0

**Task 1.3**

Now, split your data into training and test set using the sklearn function `train_test_split()`. The tent price will be the target y. The data split has to be 70/30, i.e. a `test_size=0.3` (30% of the data will be randomly picked for testing). In order to repeat your experiments (also important for us to grade it) apply `random_state=42` as argument to the `train_test_split()` function. 

Use the following names for the variables: 
- `X_train_oe`: Training features encoded with the `OrdinalEncoder()`
- `X_test_oe`: Test features encoded with the `OrdinalEncoder()`
- `y_train_oe`: Training target `price`
- `y_test_oe`: Test target `price`

In [51]:
from sklearn.model_selection import train_test_split
# YOUR CODE HERE
X_column = data_oe.columns != 'price'
X = data_oe.loc[:,X_column]
y_column = data_oe.columns == 'price'
y = data_oe.loc[:,y_column]

X_train_oe,X_test_oe, y_train_oe, y_test_oe = train_test_split(X,y, test_size=0.3,random_state=42,shuffle=True)

**Task 1.4**

Fit a `LinearRegression()` estimator with `X_train_oe` and `y_train_oe` and store it to the variable `lr_oe`. Check the performance measures printed below.

In [52]:
# YOUR CODE HERE
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
lr_oe = LinearRegression().fit(X_train_oe,y_train_oe)
rmse_oe = np.sqrt(mean_squared_error(y_test_oe,lr_oe.predict(X_test_oe)))
r2_oe = lr_oe.score(X_test_oe,y_test_oe)
print('RMSE (test) with ordinal encoded features: {:.2f}$.'.format(rmse_oe))
print('R^2 (test) with ordinal encoded features: {:.3f}'.format(r2_oe))
print('\ncoef:', lr_oe.coef_,'\nintercept:',lr_oe.intercept_)

RMSE (test) with ordinal encoded features: 108.60$.
R^2 (test) with ordinal encoded features: 0.080

coef: [[-2.49241864e+00  1.34344654e-02  1.66752801e-01 -2.53750130e+01
   1.19011129e+02  1.00105909e+01]]
intercept: [159.5503918]

**Task 2.1**

Let us now repeat the whole process using a different encoding strategy.
Set up a `ColumnTransformer()` object and store it to the variable `oh`. It should hold a `OneHotEncoder()` as transformer, which should be named `'one-hot'` and should work on the columns in `cat_features`! For easier (though less efficient) further processing set the agrument `sparse=False`.

In [53]:
# YOUR CODE HERE

from sklearn.preprocessing import OneHotEncoder
one_hot = OneHotEncoder(sparse=False)
t= [('one-hot',one_hot,cat_features)]
oh = ColumnTransformer(transformers =t,remainder = 'passthrough')

**Task 2.2**


Apply your transformer to the data. Drop the original columns containing the categorical features and append the new columns with your one-hot encoded features. The new pandas DataFrame `data_oh` will now have some new columns and contain also the numerical variables like the initial one.

In [54]:
# YOUR CODE HERE
data = pd.DataFrame(oh.fit_transform(data))
data_oh = data
data_oh.head()

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,349.95,960.0,96.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,449.95,1450.0,107.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,159.95,1700.0,102.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,359.95,2160.0,107.0
4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,149.00,2210.0,107.0

**Task 2.3**

Once again, split your data into training and test set using the sklearn function `train_test_split()`. The tent price will be the target y. The data split has to be 70/30, i.e. a `test_size` of 0.3 (30% of the data will be randomly picked for testing). In order to repeat your experiments (also important for us to grade it) apply `random_state=42` as argument to the `train_test_split()` function. 

Use the following names for the variables: 
- `X_train_oh`: Training features encoded with the `OneHotEncoder()`
- `X_test_oh`: Test features encoded with the`OneHotEncoder()`
- `y_train_oh`: Training target `price`
- `y_test_oh`: Test target `price`

In [55]:

from sklearn.model_selection import train_test_split
# YOUR CODE HERE
X_column = data_oh.columns !=19
X = data_oh.loc[:,X_column]
y_column = data_oh.columns ==19
y = data_oh.loc[:,y_column]
X_train_oh,X_test_oh, y_train_oh, y_test_oh = train_test_split(X,y, test_size=0.3,random_state=42,shuffle=True)

**Task 2.4**

Fit a `LinearRegression()` estimator with the training data `X_train_oh` and `y_train_oh` and store it to the variable `lr_oh`. Watch the performance measures printed below.

In [56]:
# YOUR CODE HERE
lr_oh = LinearRegression().fit(X_train_oh, y_train_oh)
rmse_oh = np.sqrt(mean_squared_error(y_test_oh,lr_oh.predict(X_test_oh)))
r2_oh = lr_oh.score(X_test_oh,y_test_oh)
print('RMSE (test) with one-hot encoded features: {:.2f}$.'.format(rmse_oh))
print('R^2 (test) with one-hot encoded features: {:.3f}'.format(r2_oh))
print('\ncoef:', lr_oh.coef_,'\nintercept:',lr_oh.intercept_)

RMSE (test) with one-hot encoded features: 88.11$.
R^2 (test) with one-hot encoded features: 0.394

coef: [[ 3.35755388e+01 -1.02645143e+02  2.46897823e+01  1.21840809e+02
   8.63434548e+01  3.74741272e+01 -7.99718307e+01 -1.21306739e+02
   7.39737032e+01 -1.80211342e+02  1.06237639e+02  3.23401503e+01
  -6.57134435e+01  3.33732932e+01 -5.45994353e+01 -5.28747309e+01
  -1.59507449e+01  8.19061749e+01  4.15187363e+01  3.45552208e-02
   1.45187403e+00]]
intercept: [101.58234017]

**Task 2.5**


Which of the following statements is true?

'a': It can be proven that one-hot encoding is superior to ordinal encoding.

'b': Ordinal encoding implies an natural order of the data which might not be true for all categorical variables.

'c': One-hot coding with values of {-1,1} generally leads to a centered variable (i.e. zero mean).

'd': For regression problems, one-hot encoding could also be applied to the target value.

*Use a variable* `x25` *and assign your answer of the question (if 'e' would be the correct answer your code should look like this:* `x25='e'`*. There is only one correct answer.*

In [57]:
# YOUR CODE HERE
x25='b'
print('The answer is ' + x25 + '.')

The answer is b.

**Task 3.1**

Now that you've used both encoding methods, it's time to throw them in the shaker and mix them properly. Try to improve your model by encoding some of the categorical variables ordinally and some one-hot. Define 3 lists of strings, namely `oe_features` containing the names of ordinal encoded features, `oh_features` with one-hot coded features and the numerical variables `cont_features`.

In [58]:
# YOUR CODE HERE
oe_features = ['capacity']
oh_features = ['seasons','brand','bestuse']
cont_features = ['price','weight','height']


print(f"One-hot-encoded features: {oh_features}")
print(f"Ordinal-encoded features: {oe_features}")
print(f"Numerical features: {cont_features}")

One-hot-encoded features: ['seasons', 'brand', 'bestuse']
Ordinal-encoded features: ['capacity']
Numerical features: ['price', 'weight', 'height']

**Task 3.2**

Set up a `ColumnTransformer()` object and store it to the variable `mx`. It should hold an `OrdinalEncoder()`named `'ordinal'` working in the `oe_features` and an `OneHotEncoder()` as transformer, which should be named `'one-hot'`. and should work on the columns in `oe_features`! For easier (though less efficient) further processing set the agrument `sparse=False` for the one-hot coder.

In [59]:
data

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,349.95,960.0,96.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,449.95,1450.0,107.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,159.95,1700.0,102.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,359.95,2160.0,107.0
4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,149.00,2210.0,107.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,199.95,4734.4,150.0
86,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,399.95,8306.4,193.0
87,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,429.00,6718.8,175.0
88,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,599.00,9553.8,203.0
89,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,299.95,5414.8,183.0

In [60]:
# YOUR CODE HERE
ordinal = OrdinalEncoder()
one_hot = OneHotEncoder(sparse = False)
t = [('ordinal', ordinal, oe_features),('one-hot', one_hot, oh_features)]
mx = ColumnTransformer(transformers=t)

**Task 3.3**


Apply your transformer to the data. Overwrite/replace the original values of the columns containing the  `oe_feature` with the encoded values from the `OrdinalEncoder()`. Drop the original columns containing the `oh_features` and append the new columns with your one-hot encoded features. The new pandas DataFrame will now have some new columns and contain also the numerical variables like the initial one.

In [68]:
# YOUR CODE HERE
data_mx1 = pd.DataFrame(mx.fit_transform(data1))
data_mx = pd.concat([data1.drop(columns=cat_features),data_mx1],axis=1)
data_mx.head()

,price,weight,height,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,349.95,960.0,96,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,449.95,1450.0,107,2.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,159.95,1700.0,102,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,359.95,2160.0,107,2.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,149.00,2210.0,107,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0

**Task 3.4**

Once again, split your data into training and test set using the sklearn function `train_test_split()`. The tent price will be the target y. The data split has to be 70/30, i.e. a `test_size` of 0.3 (30% of the data will be randomly picked for testing). In order to repeat your experiments (also important for us to grade it) apply `random_state=42` as argument to the `train_test_split()` function. 

Use the following names for the variables: 
- `X_train_mx`: Training features encoded with the `OrdinalEncoder()` and `OneHotEncoder()`
- `X_test_mx`: Test features encoded with the `OrdinalEncoder()`and `OneHotEncoder()` 
- `y_train_mx`: Training target `price`
- `y_test_mx`: Test target `price`

In [70]:
# YOUR CODE HERE
X_column = data_mx.columns != 'price'
X = data_mx.loc[:,X_column ]
y_column = data_mx.columns == 'price'
y = data_mx.loc[:, y_column]

X_train_mx, X_test_mx, y_train_mx, y_test_mx = train_test_split( X, y, test_size=0.3, random_state=42,shuffle=True)

**Task 3.5**

Fit a `LinearRegression()` estimator with the training data `X_train_mx` and `y_train` and store it to the variable `lr_mx`. Watch the performance measures printed below.

In [71]:
# YOUR CODE HERE
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
lr_mx = LinearRegression().fit(X_train_mx, y_train_mx)
rmse_mx = np.sqrt(mean_squared_error(y_test_mx,lr_mx.predict(X_test_mx)))
r2_mx = lr_mx.score(X_test_mx,y_test_mx)
print('RMSE (test) with mixed encoded features: {:.2f}$.'.format(rmse_mx))
print('R^2 (test) with mixed encoded features: {:.3f}'.format(r2_mx))
print('\ncoef:', lr_mx.coef_,'\nintercept:',lr_mx.intercept_)

RMSE (test) with mixed encoded features: 82.67$.
R^2 (test) with mixed encoded features: 0.467

coef: [[ 2.55962732e-02  1.67814494e+00  3.42980467e+01  2.88606955e+01
  -5.93657670e+01  3.05050715e+01  5.08567042e+01 -1.03864649e+02
   1.09855450e+01  1.26759438e+02  8.63485519e+01  2.42998282e+01
  -7.46651279e+01 -1.20720290e+02  4.98666528e+01 -1.58758652e+02
   1.08892000e+02]]
intercept: [34.57366933]

**Task 4.1**

In a last step we want to see if centering and scaling can further improve the RMSE on the test set of your best model (from task 3). Set up a `StandardScaler()` and call the variable `mx_ss`. Fit it to your training data and transform your training features `X_train_mx` and test feature `X_test_mx`. Use the variables `X_train_mx_ss` and `X_test_mx_ss` for the centered and scaled features! The mean and standard deviation of the two data partions will be printed for each column.

In [72]:
# YOUR CODE HERE
from sklearn.preprocessing import StandardScaler
mx_ss = StandardScaler()


X_train_mx_ss = mx_ss.fit_transform(X_train_mx)
X_test_mx_ss = mx_ss.transform(X_test_mx)

print('Column means of centered and scaled features (training set): {}$.'.format(X_train_mx_ss.mean(axis=0)))
print('Column means of centered and scaled features (test set): {}$.'.format(X_test_mx_ss.mean(axis=0)))

Column means of centered and scaled features (training set): [ 1.23358114e-17 -2.12352182e-16  5.81545394e-17  1.32169408e-17
 -2.29093640e-17  1.05735526e-17  4.93432455e-17 -7.04903508e-18
 -1.40980702e-17 -7.04903508e-18 -1.40980702e-17  5.11055043e-17
  4.58187280e-17  2.02659758e-17  5.99167982e-17  3.87696929e-17
  2.64338815e-17]$.
Column means of centered and scaled features (test set): [ 1.66622112e-01  1.73061203e-01  8.99062894e-02  2.41428656e-01
 -6.35641726e-02 -7.20984094e-02 -7.29324957e-02 -1.98270626e-01
 -4.11193713e-17 -4.93432455e-17  0.00000000e+00 -1.95740073e-02
  1.78174161e-01  1.69333503e-01 -7.85674201e-02  5.95998783e-02
  4.33963037e-02]$.

**Task 4.2**

Fit a `LinearRegression()` estimator with the training data `X_train_mx_ss` and `y_train_mx` and store it to the variable `lr_mx_ss`. Watch the performance measures printed below.

In [73]:
# YOUR CODE HERE
lr_mx_ss = LinearRegression().fit(X_train_mx_ss, y_train_mx)


rmse_mx_ss = np.sqrt(mean_squared_error(y_test_mx,lr_mx_ss.predict(X_test_mx_ss)))
r2_mx_ss = lr_mx_ss.score(X_test_mx_ss,y_test_mx)
print('RMSE (test) with mixed encoded features: {:.2f}$.'.format(rmse_mx_ss))
print('R^2 (test) with mixed encoded features: {:.3f}'.format(r2_mx_ss))
print('\ncoef:', lr_mx_ss.coef_,'\nintercept:',lr_mx_ss.intercept_)

RMSE (test) with mixed encoded features: 82.67$.
R^2 (test) with mixed encoded features: 0.467

coef: [[ 55.32167231  54.12780382  42.38740253   7.4196749  -15.28479977
   12.90545361  17.01706162 -33.94149986  -0.24406524  36.140159
   23.44024287   3.38902964 -35.93125384 -16.55821937  37.02138356
  -57.74446783  33.54333451]]
intercept: [352.4952381]

**Task 4.3**

Why did the scaling by the standard deviation and centering not improve the performance?

'a': We would also need to center and scale the target y. Then the performance would improve significantly.
    
'b': This is just a random artifact of the data set at hand. With other data we would benefit from scaling.

'c': Scaling the data in linear regression leads to different coefficients but to the same performance as if we would not scale the data.
  
'd': Scaling should have been done with the variance and not the standard deviation.
    
*Use a variable* `x43` *and assign your answer of the question (if 'e' would be the correct answer your code should look like this:* `x43='e'`*. There is only one correct answer.*

In [74]:
# YOUR CODE HERE
x43='c'
print('The answer is ' + x43 + '.')

The answer is c.